<!DOCTYPE configuration>

<!-- TODO will split the test environment and deveolp environment-->
<server>
    <secret>oParplZS7iTFisR6VLXGG1_4fPDpQo2qjQiH4By7wehSMhgSUM8OYFMuZ4kWi9ETVpA5K6BhWGoJdqq2uT8uTQ</secret>
    <port>8080</port>
    <sms>
        <key>LTAI5tLczTRXe8RSc5GKWUB9</key>
        <secret>GrWrRf60wewqtreGMQuJslHuXbknEg</secret>
        <templateCode>SMS_461895959</templateCode>
    </sms>
    <kafka>
        <broker></broker>
        <broker></broker>
        <broker></broker>
        <topic>task</topic>
        <topic></topic>
    </kafka>
    <prometheus>
        <server>

        </server>
    </prometheus>
    <meilisearch>
        <key>123456789</key>
        <host>http://localhost:7700</host>
    </meilisearch>
    <!-- including the development and test envrionment and online envrionment-->
</server>